[mysqld]
general_log = 1
general_log_file = /var/log/mysql/general.log  # Ruta dentro del contenedor
log_output = FILE                              # Especifica que los logs se escriban en un archivo
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log  # Ruta dentro del contenedor
long_query_time = 2